@charset "UTF-8"; 
body{
    background-color: #fbf9cc; /* 背景色を変える */
} 
h1{
      font-size:2.75em;
      color: #008000;
      text-align: center;
      }
     h2{
      font-size:1.5em;
      color:3399cc;
      border:#94c8b1 1px dotted;/*境界線*/
      border-left:#d0e35b 10px solid;
      margin-bottom:0;/*隣り合う要素との間隔*/
      padding:5px 20px
      }
     p{
     font-size:0.8em;
     background-color: #3399cc;/*文字の背景の色だけ*/
     color: #333333;
     line-height:1.75em;/*行間の部分*/
     }
     li{
     font-size:0.8em;
     color: #333333;
     }
     
     a{
      color:#df4839;
      }
      a:active{
       color:#ff705b;/*マウスを押しているときだけ特別な色*/
       }
h1 span{
    color: #d0e35b;
}
h1 a{
    color: #d0e35b;
}
#lead{
    border-top: #6fbb9a 1px dotted;
    まじむり
    text-align: center;
}
. greeting{
    border-top: #6fbb9a 1px dotted;
てゅーてゅー
    text-align: center;
}



      

